:root{
    /* Sizes: */
    --l: 980px;
    --s: 740px;
    --clr-selected: #58c93a;
    --clr-body-borders: #e1e0e0;
    --clr-header-background: #292929;
    --clr-nav-btn-hover: #393e46;
    --transition-fast: 0.2s;
    --box-sdw: 5px 5px 15px 1px rgba(0,0,0,0.63);

}


@font-face {
    font-family: lato;
    src: url(/fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: lato-bold;
    src: url(/fonts/Lato-Bold.ttf);
}


/* Basics */

html{
    font-family: lato;
}

* {
    box-sizing: border-box;
} 


button{
    font-family: lato-bold;
    cursor: pointer;
}

img{
    user-select: none;
}

/* HEADER */
header{
    height: 8.125em;
    box-shadow: inset 0 -6px 0 #1e1e1e;
    background-color: var(--clr-header-background);
}

nav{
    height: inherit;
    max-width: var(--l);
    margin-inline-start: auto;
    margin-inline-end:auto;
}

.nav-list{
    height: inherit;
}


.btn-nav{
    box-shadow: inset 0 -6px 0 #1e1e1e;
    background-color: var(--clr-header-background);
    color: #fff;
    border:none;
    height: inherit;
    border-inline-end: 1px solid #1e1e1e;
    width: 8.125em;
}

.nav-list .btn-nav:first-child{
    border-inline-start: 1px solid #1e1e1e;
}

.btn-nav:hover{
    background-color:var(--clr-nav-btn-hover);
}

.btn-nav.selected{
    box-shadow: inset 0 -6px 0 var(--clr-selected);
    color: var(--clr-selected);
}

.hamburger{
    display: none;
    filter:contrast(0);
    cursor: pointer;
}

.dropdown{
    background-color: inherit;
    height: inherit;
    position: relative;
}

.dropdown-menu{
    pointer-events: none;
    color: #1e1e1e;
    position: absolute;
    left: 0;
    top: calc(100% - 2rem);
    opacity: 0;
    width: 8.125em;
    transition: 0.2s opacity ease-in-out, 0.2s transform ease-in-out;
}
.dropdown-menu.active{
    transform: translateY(2rem);
    opacity: 1;
    pointer-events: auto;
}

.dropdown-menu .btn-nav{
    padding: 1.5rem;
}

/* MAIN CONTENT */
.article-teaser{
    margin-block-start: 5em;

}
.article-teaser:last-of-type{
    margin-block-end: 5em;
}
.article-teaser > img{
    object-fit: contain;

    width: 50%;
    margin-inline-end: 2.5em;
}

.teaser-title{
    margin: 0;
    font-size: 1.75em;
    color: #4f4e4e;
}
.article-teaser p{
    line-height: 1.25em;
    margin-inline-end: 1.5em ;
}





.main-nav{
    height: 5em;
    border-block-start: 1px solid var(--clr-body-borders);
}

.main-nav button{
    transition: var(--transition-fast);
    opacity: 0.4;
    background-color: transparent;
    border: none;
    font-size: 1.125em;
    position: relative;
}
.main-nav button:hover{
    opacity: 1;

}

.main-nav button span{
    position: relative;
    top: -3px
}

/* FOOTER */

footer{
    box-shadow: inset 0 1px 0 #e1e0e0;
    background-color: #f8f8f8;
    height: 19.7em;
    padding: 5em;
}

.rights{
    color: #a6a6a6;
    font-size: 0.75em;
}
.rights a{
    color: #939292;
    font-family: lato-bold;
    text-decoration: none;
    cursor: pointer;
}
.links{
    gap: 1.25em;

}
.png{
    transition: var(--transition-fast);
    background-color: #e5e5e5;
    width: 2.5em;
    height: 2.5em;
    border-radius: 2px;
    cursor: pointer;
}

.png:hover{
    background-color: #516fad;
}

/* BUTTONS */
.btn{
    border: 2px solid #c2c2c2;
    background-color: transparent;
    color: #c2c1c1;
    width: max-content;
    padding: 0.8125em;
    transition: 0.4s;
}

.btn:hover{
color: var(--clr-selected);
border-color: var(--clr-selected);
}

.btn-round {
    border-radius: 2em;
}

.btn-arrow {
    position: relative;
    transition: padding .4s;
}

.btn.btn-arrow:hover {
    padding-inline-end: 2.6em;
}

.btn-arrow:hover::after {
    content: "→";
    position: absolute;
    right: 0.8em;
}

/* COMPONENTS */
  .main-screen{
    transition: var(--transition-fast);
    opacity: 0;
    position: fixed;
    inset: 0;
    background-color: var(--clr-header-background);
    pointer-events: none;
  }
/* MODALS */

.modal{
    box-shadow: var(--box-sdw);
    transition: var(--transition-fast);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
}
.modal.cascading-menu{
    width: 28.5em;
}

.modal.cascading-menu > .nav-list > *{
    width: 100%;
    height: 100%;
    padding-block-start: 2em;
    padding-block-end: 2em;
}


.modal.cascading-menu .btn-nav{
    background-color: var(--clr-header-background);
    font-size: 1.5em;
}
.cascading-menu .btn-nav:hover{
    background-color:var(--clr-nav-btn-hover);
}
.modal.read-more{
    background-color: #fff;
    top: 50%;
    transform: translate(-40%,-50%);
}

body.screen-modal.read .read-more{
    pointer-events: all;
    opacity: 1;
    transform: translate(-50%, -50%);
    padding: 2em;
}
body.screen-modal .main-screen{
    opacity: 0.5;
    pointer-events: all;
}

/* HELPERS */

.main-layout{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.main-layout > *:not(.full){
    max-width: var(--l);
    border: 1px solid var(--clr-body-borders);
    margin-inline-start: auto;
    margin-inline-end: auto;
}

/* FLEX HELPERS */

.flex{
    display: flex;
}
.flex.column{
    flex-direction: column;
}
.flex.justify-center{
    justify-content: center;
}
.flex.align-center{
    align-items: center;
}
.flex.space-between{
    justify-content: space-between;
}

/* LIST HELPER */
.clear-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media (min-width: 980px){
    .article-teaser{
        flex-direction: row;
    }
}

@media (max-width: 980px){
    header{
        height: 7em;
    }
    nav{
        margin-inline-start: 1.5em;
    }
}

@media (max-width:740px){
    .article-teaser{
        flex-direction: column;
        align-items: center;
        margin: 1.5em;
    }
    .article-teaser > img{
        margin: 0;
        width: 100%;
    }
    .hamburger{
        display: block;
        margin-inline-end:1.5em;
    }
    .large-menu{
        display: none;
    }
    body.screen-modal.menu .cascading-menu{
        pointer-events: all;
        opacity: 0.9;
        transform: translate(-50%, 7em);
    }
}